.shelfContainer {

    position: relative; /* Crucial for absolute positioning of items and visual shelf */
    width: 100%;
    min-height: 200px; /* Adjusted height to accommodate items and shelf visual */
    display: flex;
    justify-content: space-around;
    align-items: flex-end; /* Align items to the bottom of this container */
    padding-bottom: 50px; /* Space for the ShelfVisual at the bottom */
}

.productWrapper {
    position: absolute;
    width: 18%; /* Adjust as needed for spacing */
    height: 120px; /* Fixed height for consistent item sizing */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 10; /* Higher z-index for items */
}